.piece-square { 
    aspect-ratio: 1 / 1;
    border: 1px solid #3b3b3b; 
    box-sizing: border-box; 
    width: 60px; 
  }



.selected {
  filter: brightness(80%);
}

/* Squares */
.one-by-one {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 0;
  background-color: #ea00fffb;
}

.two-by-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0;
  background-color: #df2929;
}

.three-by-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0;
  background-color: #18e611;
}