.piece-box {
    width: 480px; /* This will make the width match the grid's width */
    text-align: center;
    margin-top: 1rem; /* Add space between the grid and the PieceBox if needed */
    /* Additional styles for PieceBox */
    background-color: antiquewhite;
    height: 400px;
  }